<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.min.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>    
    <script src="js/services.js"></script>
    <script src="js/db.services.js"></script>

  </head>
  <body ng-app="ListenAndPitch">

    <!--ng-include src="'tpl/search-form.html'" style="width: 100%"></ng-include-->
    
    <ion-nav-view></ion-nav-view>

    <!--ion-footer-bar class="bar-dark bar-player" ng-controller="PlayerCtrl">
      <ng-include src="'tpl/footer.html'" style="width: 100%"></ng-include>
    </ion-footer-bar-->

    <script type="text/ng-template" id="trackProgress.html">
      <div class="item item-input">
        <span class="input-label">
          <i class="icon ion-ios7-stopwatch-outline"></i>
          Start from:
        </span>
        <input type='text' ng-model='time' placeholder="00:00" style="padding-right: 0; max-width: 3.5em;" />
        <button class="button-calm button" ng-click="setProgress(time)" style="margin-left: 60px;"><i class="icon ion-play"></i></button>
      </div>
    </script>
    

  </body>
</html>
