/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #3E50B4 !default;
$calm:                            #2095F2 !default;
$balanced:                        #4BAE4F !default;
$energized:                       #FEC006 !default;
$assertive:                       #F34235 !default;
$royal:                           #7B1FA2 !default;
$dark:                            #444 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.bar-royal .item-input-inset, .bar-royal .item-input-inset input{width: 100%}
.bar-royal .item-input-wrapper{margin-left: 10px}
.bar-player {height: 95px;padding: 0} .has-footer{bottom: 95px}
.player .button, .player .player-settings .row{height: 100%; margin: 0;}
.player .button:before{font-size: 1.5em !important}
.player .button-large:before{font-size: 3.5em !important}
.player .img-music{height: 60px; width: auto; text-align: center; max-width: 100%;}
.results-search .item-divider{padding-top: 4px; padding-bottom: 4px; text-align: right; font-weight: bold; font-size: 13px; min-height: 20px}
.button-music-play{border-radius: 50%;width: 30px;height: 30px;}
.item-music .row, .item-music .col{margin: 0; padding: 0}
.item-music img{max-width: 40px;max-height: 40px; margin-right: 10px}
.progress-time, .progress-time input{margin: 0; padding: 0}
.info-musica p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 0.9em}