<ion-view>
  <ion-content class="has-header has-footer">

    <div class="list results-search">

      <div class="item item-divider" ng-if="results.artistas.length > 0">
        Artistas
      </div>  
      <a ng-repeat="rd in results.artistas" class="item item-thumbnail-left" ng-click="redirArtista(rd.slug)">
        <img ng-src="{{rd.img}}">
        <h2>{{rd.nome}}</h2>      
      </a>
      
      <div class="item item-divider" ng-if="results.albuns.length > 0">
        Álbuns
      </div>  
      <a ng-repeat="rd in results.albuns" class="item item-thumbnail-left" ng-click="redirArtista(rd.slug)">
        <img ng-src="{{rd.img}}">
        <h2>{{rd.nome}}</h2>      
        <p>{{rd.artista}}</p>
      </a>

      <div class="item item-divider" ng-if="results.musicas.length > 0">
        Músicas
      </div>
      <div ng-if="results.musicas.length > 0">
        <button class="button button-full button-balanced button-small" ng-click="addAllMusic()" style="margin: 0">Adicionar Todas</button>
      </div>  
      <div ng-repeat="rd in results.musicas" class="item item-music">
        <div class="row">        
          <h3 class="col col-center">{{rd.titulo}} - {{rd.artista}}</h3>      
          <button class="button-music-play button button-balanced button-small icon ion-plus" ng-click="addMusic(rd)" ng-disabled="getMusicPlaylist(rd.id)"></button>
          <button class="button-music-play button button-royal button-small icon ion-arrow-right-b" style="margin-left: 10px" ng-click="playMusic(rd)" ng-disabled="rd.id == music_playing.id"></button>
        </div>
      </div>

      <div ng-if="empty_results" class="item">
        <p>Nenhum resultado encontrado</p>
      </div>

    </div>
  </ion-content>
</ion-view>