<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
   <ion-header-bar class="bar bar-royal bar-header">  
    <form class="item-input-inset" ng-submit="redirBusca()">
      <button type="button" class="bt-menu button button-clear button-icon icon ion-navicon" ng-click="toggleLeftSideMenu()">    
      </button>
      <label class="item-input-wrapper">    
        <input type="search" placeholder="Artista, banda, álbum, música..." ng-model="busca">
      </label>
      <button class="button button-clear button-icon icon ion-search" type="submit">    
      </button>
    </form>
  </ion-header-bar>
   <ion-nav-view name="menuContent"></ion-nav-view>
   <ion-footer-bar class="bar-dark bar-player">
      <ng-include src="'tpl/player.html'" style="width: 100%"></ng-include>
    </ion-footer-bar>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Listen And Pitch</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>        
        <ion-item menu-close href="#/app/main">
          Buscar
        </ion-item>
        <ion-item menu-close href="#/app/musicsdb">
          Músicas Ouvidas
        </ion-item>        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
