<div class="row" style="margin: 0;padding-top: 0;padding-bottom: 0;">
  <div class="col-50 col-center info-musica">  
    <p ng-show="music_playing" style="padding-left: 10px; margin: 0"><small><strong>{{music_playing.titulo}} - {{music_playing.artista}}</strong></small></p>
    <p ng-show="!music_playing" style="padding-left: 10px; margin: 0"><small><strong>Selecione a música que quer ouvir</strong></small></p>
  </div>
  <div class="col-50 col-center">  
    <div class="progress-time range range-dark">   
      <input type="range" name="progress" ng-model="state.progress" min="0" max="{{state.duration}}" step="0.01" ng-change="seekTo(state.progress)" />  
    </div>
  </div> 
</div>
<div class="row player">
  <div class="col-67">
    <div class="row">
      <div class="col-20">
        <button class="button button-full button-icon icon ion-skip-backward" ng-click="previousMusic()" ng-disabled="music_playing_index == 0"></button>        
      </div>
      <div class="col-20">
        <button class="button button-full button-icon button-large icon ion-play" ng-click="toggleState()" ng-class="{'ion-play': state.status !== enums.state.playing, 'ion-pause': state.status === enums.state.playing}" ng-disabled="playlist.length <= 0"></button>
      </div>
      <div class="col-20">
        <button class="button button-full button-icon icon ion-skip-forward" ng-click="nextMusic()" ng-disabled="(1 + music_playing_index) >= playlist.length"></button>
      </div>    
    </div>
  </div>
  <div class="col player-settings" style="padding: 0;">
    <div class="row">
      <button class="col button button-icon icon ion-ios-list" ng-click="redir('app.playlist')"></button>
      <button class="col button button-icon icon ion-gear-a" ng-click="redir('app.settings')"></button>
    </div>
  </div>
</div>
