<ion-view>
  <ion-content class="has-header has-footer">
    <div class="list playlist">

        <div ng-if="playlist.length > 0">
          <button class="button button-full button-energized button-small" ng-click="rmAllMusic()" style="margin: 0">Remover Todas</button>
        </div> 

        <div ng-repeat="rd in playlist | orderBy:'included_at'" class="item item-music">
          <div class="row">
            
            <div class="col">          
              <h3>{{rd.titulo}}</h3>                  
              <p>{{rd.artista}}</p>          
            </div>
                    
            <button class="button-music-play button button-energized button-small icon ion-close-round" ng-click="rmMusic(rd)"></button>
            <button class="button-music-play button button-royal button-small icon ion-arrow-right-b" style="margin-left: 10px" ng-click="playMusic(rd)" ng-disabled="rd.id == music_playing.id"></button>
          </div>          
        </div>

        <div ng-if="playlist.length == 0" class="item">
          <p>Nenhuma música na playlist</p>
        </div>

    </div>
  </ion-content>
</ion-view>