<ion-view>
  <ion-content class="has-header has-footer">
    <div class="range range-assertive">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume" ng-model="audio.gainNode.gain.value" min="0" max="1" step="0.05" />
      <i class="icon ion-volume-high"></i>
    </div>
    <div class="range range-positive">
      <i class="icon ion-ios-rewind"></i>
      <input type="range" name="tempo" ng-model="state.tempo" min="{{options.defaults.tempo - options.range.tempo}}" max="{{options.defaults.tempo + options.range.tempo}}" step="5" ng-change="setPitch(state.pitch, state.tempo)" />
      <i class="icon ion-ios-fastforward"></i>
    </div>
    <div class="range range-royal">
      <i class="icon ion-arrow-graph-down-right"></i>
      <input type="range" name="pitch" ng-model="state.pitch" min="{{-options.range.pitch}}" max="{{options.range.pitch}}" step="0.5" ng-change="setPitch(state.pitch, state.tempo)" />
      <i class="icon ion-arrow-graph-up-right"></i>
    </div>

    <div class="item item-input">
      <span class="input-label"> Volume (%): </span>
      {{audio.gainNode.gain.value.toFixed(1) * 100}}
    </div>
    <div class="item item-input">
      <span class="input-label"> Velocidade (%):</span> 
      <input type="text" ng-model="state.tempo" min="50" max="150" />
    </div>
    <div class="item item-input">
      <span class="input-label"> Pitch (Semitons):</span> 
      <input type="text" ng-model="state.pitch" min="-7" max="7" />
    </div>
    <div class="item">
      <button class="button button-block icon-left ion-refresh button-royal" ng-click="resetParams()">Reset</button>
    </div>
  </ion-content>
</ion-view>